@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=League+Spartan:wght@200,300;400&display=swap");
/*RGB Code for Colors In case we need it
  Cream: rgb(245, 241,226)
  Deep Blue: rgb(5, 5, 31)
  Orange: rgb(217,106,22)
  Light Teal: rgb(123, 158, 163)
  Dark Teal: rgb(90, 134, 140)
*/
/* General Styles*/
/* Reset margin, padding, and box model. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #05051f;
  font-family: "League Spartan", sans-serif;
  font-size: 1.25rem;
  margin: 2rem 2rem 8rem 2rem;
  font-weight: 200;
}

h1,
h2,
h3 {
  color: #5a868c;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  margin-bottom: 1rem;
}

p,
ul {
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

p {
  color: #f5f1e2;
  margin-bottom: 1rem;
}

/* Small Version: Header Area Layout */
.intro {
  margin: 0 0 4rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

header h2 {
  background: linear-gradient(to right, rgb(217, 106, 22) 0%, rgb(5, 5, 31) 100%);
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
  padding-bottom: 10px;
  font-size: 28px;
}

.summary {
  margin-bottom: 2rem;
}

.summary p {
  color: #7b9ea3;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.summary::before {
  content: url(moon-sm.png);
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: #f5f1e2;
  box-shadow: 0 0 50px #7b9ea3;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

.summary p a:link,
.summary p a:visited {
  color: #d96a16;
  font-weight: 400;
}

.summary p a:hover {
  color: #f5f1e2;
}

.summary p a:active {
  color: #5a868c;
}

.preamble {
  background: linear-gradient(to right, rgb(217, 106, 22) 0%, rgb(5, 5, 31) 100%);
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

/* Small Version: Main Layout */
.main {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  justify-items: center;
}

/* Main Link Styles*/
.main h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main p a:link,
.main p a:visited {
  color: #d96a16;
  font-weight: 400;
}

.main p a:hover {
  color: #7b9ea3;
}

.main p a:active {
  color: #5a868c;
}

.explanation,
.participation,
.benefits,
.requirements,
.preamble {
  margin: 1rem 0;
}

/*Small Version Footer Layout: Move Footer to the Bottom*/
.zen-validate-html::before {
  content: url(phases-of-the-moon-1.svg);
  display: block;
  width: 74px;
}

.zen-validate-css::before {
  content: url(phases-of-the-moon-2.svg);
  display: block;
  width: 74px;
}

.zen-license::before {
  content: url(phases-of-the-moon-3.svg);
  display: block;
  width: 74px;
}

.zen-accessibility::before {
  content: url(phases-of-the-moon-4.svg);
  display: block;
  width: 74px;
}

.zen-github::before {
  content: url(phases-of-the-moon-5.svg);
  display: block;
  width: 74px;
}

footer {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-radius: 8px;
  padding-bottom: 2rem;
  position: absolute;
  bottom: -1200px;
}

footer a:link,
footer a:visited {
  color: #5a868c;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

footer a:hover {
  color: #d96a16;
  transform: scale(125%);
  transition: all 0.25s ease-in-out;
}

footer a:active {
  color: #f5f1e2;
}

/* Small Version: Aside layout*/
aside h3 {
  font-size: 1.5rem;
}

aside {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  margin: 2rem;
}

aside a {
  color: #f5f1e2;
}

ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

a,
abbr[title] {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
