@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=League+Spartan:wght@200,300;400&display=swap");

/*RGB Code for Colors In case we need it
  Cream: rgb(245, 241,226)
  Deep Blue: rgb(5, 5, 31)
  Orange: rgb(217,106,22)
  Light Teal: rgb(123, 158, 163)
  Dark Teal: rgb(90, 134, 140)
*/

//variables

$heading-font: "Comfortaa", cursive;
$body-font: "League Spartan", sans-serif;
//margin settings between elements
$space-sm: 0.5rem;
$space-md: 1rem;
$space-mdlg: 1.5rem;
$space-lg: 2rem;
$space-xlg: 4rem;
$space-xxlg: 6rem;
$space-xxxlg: 14rem;
$weight-xlight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$main-dark-color: #05051f;
$main-light-color: #f5f1e2;
$accent-color-bright: #d96a16;
$accent-color-light: #7b9ea3;
$accent-color-medium: #5a868c;
$intro-text-sm-v: 1.5rem;
$body-copy-sm-v: 1.25rem;
$footer-text: 1rem;
$h1-sm-v: 2.25rem;
$h2-sm-v: 1.5rem;
$h3-sm-v: 1.5rem;

// mixins
@mixin grid($col...) {
  display: grid;
  grid-template-columns: $col;
}

/* General Styles*/
/* Reset margin, padding, and box model. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  position: relative;
}

body {
  background-color: $main-dark-color;
  font-family: $body-font;
  font-size: $body-copy-sm-v;
  margin: $space-xxlg 10% $space-xxxlg 10%;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: $weight-bold;
  margin-bottom: $space-md;
  letter-spacing: 0.05rem;
  line-height: 1.15;
}

p,
ul {
  line-height: 1.5;
  letter-spacing: 0.03rem;
  margin-bottom: $space-mdlg;
}

p {
  color: $main-light-color;
  margin-bottom: $space-md;
}

/* Small Version: Header Area Layout */

.intro {
  display: flex;
  flex-direction: column;
  font-size: $intro-text-sm-v;
}

.intro h1 {
  font-size: $h1-sm-v;
  // color: $accent-color-bright;
  background: -webkit-linear-gradient(
    $accent-color-bright 5%,
    $accent-color-medium 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  // writing-mode: vertical-rl;
  // text-orientation: upright;
  // text-transform: uppercase;
  // word-spacing: -1.25rem;
}

.intro h2 {
  background: linear-gradient(
    to right,
    rgb(217, 106, 22) 0%,
    rgb(5, 5, 31) 100%
  );
  background-position: 0 100%;
  background-size: 100% 9px;
  background-repeat: repeat-x;
  padding-bottom: $space-mdlg;
  font-size: $h2-sm-v;
  color: $accent-color-medium;
  font-weight: $weight-light;
}

.intro h3 {
  background: linear-gradient(
    to left,
    rgb(5, 5, 31) 0%,
    rgb(217, 106, 22) 100%
  );
  background-position: 5% 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
  padding-bottom: $space-md;
  color: $accent-color-medium;
  font-size: $h3-sm-v;
  margin-bottom: $space-mdlg;
}

.summary {
  margin-bottom: $space-lg;
}

.summary p {
  color: $accent-color-light;
  margin-bottom: $space-lg;
  font-size: $intro-text-sm-v;
  font-weight: $weight-xlight;
}

.summary p:nth-child(2) {
  font-size: $body-copy-sm-v;
  font-style: italic;
}

.summary::before {
  content: url(moon-sm.png);
  width: 161px;
  height: 161px;
  border-radius: 50%;
  background: $main-light-color;
  box-shadow: 0 0 100px $accent-color-light;
  padding: $space-md;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $space-xlg auto;
}

.summary p a:link,
.summary p a:visited {
  color: $accent-color-bright;
  font-weight: $weight-light;
}

.summary p a:hover {
  color: $main-light-color;
}

.summary p a:active {
  color: $accent-color-medium;
}

.preamble {
  // background: linear-gradient(
  //   to right,
  //   rgb(217, 106, 22) 0%,
  //   rgb(5, 5, 31) 100%
  // );
  // background-position: 0 100%;
  // background-size: 100% 6px;
  // background-repeat: repeat-x;
  font-size: $body-copy-sm-v;
}

/* Small Version: Main Layout */

.main {
  margin: 0 auto $space-xlg auto;
}

/* Small Version: Main Link Styles*/

.main h3 {
  font-size: $h3-sm-v;
  margin-bottom: $space-mdlg;
  background: linear-gradient(
    to left,
    $main-dark-color 0%,
    $accent-color-bright 100%
  );
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: no-repeat;
  padding-bottom: $space-md;
  color: $accent-color-medium;
}

.main p a:link,
.main p a:visited {
  color: $accent-color-bright;
  font-weight: $weight-light;
}

.main p a:hover {
  color: $accent-color-light;
}

.main p a:active {
  color: #5a868c;
}
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  margin: 0 0 $space-xlg 0;
  font-weight: $weight-xlight;
}

/*Small Version: Footer Layout- Move Footer to the Bottom*/

.zen-validate-html::before {
  content: url(phases-of-the-moon-1.svg);
  display: block;
  width: 74px;
}

.zen-validate-css::before {
  content: url(phases-of-the-moon-2.svg);
  display: block;
  width: 74px;
}

.zen-license::before {
  content: url(phases-of-the-moon-3.svg);
  display: block;
  width: 74px;
}

.zen-accessibility::before {
  content: url(phases-of-the-moon-4.svg);
  display: block;
  width: 74px;
}

.zen-github::before {
  content: url(phases-of-the-moon-5.svg);
  display: block;
  width: 74px;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-self: end;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 4rem 0;
}

footer a:link,
footer a:visited {
  color: $accent-color-medium;
  font-family: $heading-font;
  font-weight: $weight-bold;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

footer a:hover {
  color: $accent-color-bright;
  transform: scale(125%);
  transition: all 0.25s ease-in-out;
}

footer a:active {
  color: $main-light-color;
}

/* Small Version: Aside layout*/

aside {
  @include grid(1fr);
  justify-items: center;
}

aside a {
  color: $main-light-color;
  font-weight: $weight-regular;
}

a,
abbr[title] {
  text-decoration: none;
}

/* blue/green side bar with stars*********************************/

.sidebar {
  padding: 12px;
  background: linear-gradient(
    to left,
    $accent-color-medium 5%,
    $accent-color-light,
    $accent-color-medium 95%
  );
  border-radius: 10px;
  text-align: center;
  max-width: fit-content;
  /*position: absolute; left: 50%; margin-left: -50px;  margin-top: -50px;*/
  margin: 0 auto;
  border: 6px solid $accent-color-bright;
}
.sidebar h3 {
  color: rgb(245, 241, 226);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: $h3-sm-v;
  /*background:linear-gradient(rgb(245, 241,226), rgb(123, 158, 163))*/
  /*background-clip:text;
  background: linear-gradient(to bottom, rgb(217,106,22) 0%, rgb(5, 5, 31) 100%);*/
  background: linear-gradient(
    to left,
    rgb(5, 5, 31) 0%,
    rgb(217, 106, 22) 100%
  );
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
.design-selection,
.designer-name {
  color: rgb(5, 5, 31);
  text-align: center;
}

.design-selection .design-name {
  color: rgb(245, 241, 226);
  padding: 10px;
  display: list-item;
  list-style-type: " ★ ";
  text-align: center;
  font-weight: $weight-regular;
}

.design-selection,
.design-archives,
.zen-resources {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.design-selection {
  padding-top: 50px;
}

.zen-resources {
  padding-bottom: 20px;
}

.zen-resources ul li a,
.design-archives ul li a {
  padding: 5px;
  color: rgb(245, 241, 226);
  display: list-item;
  list-style-type: " ★ ";
  text-align: center;
  font-weight: $weight-regular;
}
