@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=League+Spartan:wght@300&display=swap");

//variables

$heading-font: "Comfortaa", cursive;
$body-font: "League Spartan", sans-serif;
//margin settings between elements
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 2rem;
$weight-light: 300;
$weight-bold: 700;
$main-dark-color: #0d1f30;
$main-light-color: #f0e3c0;
$accent-color-bright: #db6c0f;
$accent-color-light: #8bada3;
$accent-color-medium: #3b6670;

// mixins
@mixin grid($col...) {
  display: grid;
  grid-template-columns: $col;
}

/* General Styles*/
/* Reset margin, padding, and box model. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-size: 16px;
  margin: 1rem 2rem 4rem 2rem;
  font-weight: $weight-light;
  position: relative;
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: $weight-bold;
  margin-bottom: 0.5rem;
}

ul,
.intro {
  margin-bottom: $margin-lg;
}

p,
ul {
  line-height: 1.4;
}

p,
.explanation,
.participation,
.benefits,
.requirements {
  margin-bottom: $margin-md;
}

/* Small Version: Header Layout */

/* Small Version: Main Layout */

.main {
  @include grid(1fr);
  position: relative;
  justify-items: center;
  margin: $margin-lg;
}

aside {
  @include grid(1fr);
  justify-items: start;
  margin: $margin-lg;
}

ul {
  list-style-type: none;
}

a,
abbr[title] {
  text-decoration: none;
}

//Move Footer to Bottom

.main footer {
  // transform: translate(0, 600px);
  position: absolute;
  bottom: -1000px;
  left: 0;
  right: 0;
  padding-bottom: 2rem;
}

/*Small Version Layout: Footer I am fixing the FlexBox*/

.main footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #db6c0f;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
}

footer a {
  color: $main-dark-color;
  font-family: $heading-font;
  font-weight: $weight-bold;
  font-size: 20px;
  text-align: center;
  padding: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.zen-validate-html {
  background-image: url(html.png);
  padding-top: 30px;
  position: left;
  background-size: 30px;
  background-repeat: no-repeat;
}

.zen-validate-css {
  background-image: url(css.png);
  position: right;
  padding-top: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}

.zen-license {
  background-image: url(cc.png);
  position: right;
  padding-top: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}

.zen-accessibility {
  background-image: url(a11y.png);
  position: right;
  padding-top: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}

.zen-github {
  background-image: url(github.png);
  position: right;
  padding-top: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}

// .design-archives nav ul li a {
//   color: #f0e3c0;
//   align-content: center;
//   list-style-type: none;
//   text-decoration: none;
//   border-radius: 8px;
// }

// .zen-resources ul li a {
//   color: #f0e3c0;
//   list-style-type: none;
//   text-decoration: none;
// }
