@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=League+Spartan:wght@200,300;400&display=swap");

/*RGB Code for Colors In case we need it
  Cream: rgb(245, 241,226)
  Deep Blue: rgb(5, 5, 31)
  Orange: rgb(217,106,22)
  Light Teal: rgb(123, 158, 163)
  Dark Teal: rgb(90, 134, 140)
*/

//variables

$heading-font: "Comfortaa", cursive;
$body-font: "League Spartan", sans-serif;
//margin settings between elements
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xlg: 4rem;
$space-xxlg: 8rem;
$weight-xlight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$main-dark-color: #05051f;
$main-light-color: #f5f1e2;
$accent-color-bright: #d96a16;
$accent-color-light: #7b9ea3;
$accent-color-medium: #5a868c;
$body-copy-sm-v: 1.25rem;
$into-text-sm-v: 1.5rem;
$h1-sm-v: 3rem;
$h2-sm-v: 2rem;
$h3-sm-v: 1.5rem;

// mixins
@mixin grid($col...) {
  display: grid;
  grid-template-columns: $col;
}

/* General Styles*/
/* Reset margin, padding, and box model. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-dark-color;
  font-family: $body-font;
  font-size: $body-copy-sm-v;
  margin: $space-lg $space-lg $space-xxlg $space-lg;
  font-weight: $weight-xlight;
}

h1,
h2,
h3 {
  color: $accent-color-medium;
  font-family: $heading-font;
  font-weight: $weight-bold;
  margin-bottom: $space-md;
}

p,
ul {
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

p {
  color: $main-light-color;
  margin-bottom: $space-md;
}

/* Small Version: Header Area Layout */

.intro {
  margin: 0 0 $space-xlg 0;
  display: flex;
  flex-direction: column;
  font-size: $into-text-sm-v;
}

header h2 {
  background: linear-gradient(
    to right,
    rgb(217, 106, 22) 0%,
    rgb(5, 5, 31) 100%
  );
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
  padding-bottom: 10px;
  font-size: 28px;
}

.summary {
  margin-bottom: $space-lg;
}

.summary p {
  color: $accent-color-light;
  margin-bottom: $space-lg;
  font-size: $into-text-sm-v;
  font-weight: $weight-xlight;
}

.summary::before {
  content: url(moon-sm.png);
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: $main-light-color;
  box-shadow: 0 0 50px $accent-color-light;
  padding: $space-md;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $space-xlg auto;
}

.summary p a:link,
.summary p a:visited {
  color: $accent-color-bright;
  font-weight: $weight-regular;
}

.summary p a:hover {
  color: $main-light-color;
}

.summary p a:active {
  color: $accent-color-medium;
}

.preamble {
  background: linear-gradient(
    to right,
    rgb(217, 106, 22) 0%,
    rgb(5, 5, 31) 100%
  );
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

/* Small Version: Main Layout */

.main {
  @include grid(1fr);
  position: relative;
  justify-items: center;
}

/* Main Link Styles*/

.main h3 {
  font-size: $h3-sm-v;
  margin-bottom: $space-md;
}

.main p a:link,
.main p a:visited {
  color: $accent-color-bright;
  font-weight: $weight-regular;
}

.main p a:hover {
  color: $accent-color-light;
}

.main p a:active {
  color: #5a868c;
}

.explanation,
.participation,
.benefits,
.requirements,
.preamble {
  margin: $space-md 0;
}

/*Small Version Footer Layout: Move Footer to the Bottom*/

.zen-validate-html::before {
  content: url(phases-of-the-moon-1.svg);
  display: block;
  width: 74px;
}

.zen-validate-css::before {
  content: url(phases-of-the-moon-2.svg);
  display: block;
  width: 74px;
}

.zen-license::before {
  content: url(phases-of-the-moon-3.svg);
  display: block;
  width: 74px;
}

.zen-accessibility::before {
  content: url(phases-of-the-moon-4.svg);
  display: block;
  width: 74px;
}

.zen-github::before {
  content: url(phases-of-the-moon-5.svg);
  display: block;
  width: 74px;
}

footer {
  @include grid(19% 19% 19% 19% 19%);
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-radius: 8px;
  padding-bottom: $space-lg;
  position: absolute;
  bottom: -2000px;
}

footer a:link,
footer a:visited {
  color: $accent-color-medium;
  font-family: $heading-font;
  font-weight: $weight-bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

footer a:hover {
  color: $accent-color-bright;
  transform: scale(125%);
  transition: all 0.25s ease-in-out;
}

footer a:active {
  color: $main-light-color;
}

/* Small Version: Aside layout*/

aside h3 {
  font-size: $h3-sm-v;
}

aside {
  @include grid(1fr);
  justify-items: start;
  margin: $space-lg;
}

aside a {
  color: $main-light-color;
}

ul {
  list-style-type: none;
  margin-bottom: $space-lg;
}

a,
abbr[title] {
  text-decoration: none;
}
/* blue/green side bar with stars*********************************/

.sidebar{
  
  padding: 10px;
  background-color: rgb(90, 134, 140);
  border-radius: 10px;
  text-align: center;
  max-width: fit-content;
  /*position: absolute; left: 50%; margin-left: -50px;  margin-top: -50px;*/
  margin: 0 auto;
  border-style: solid;
  border-color: #d96a16;
  border-width: 7px;

  
}
.sidebar h3{
  color: rgb(245, 241,226);
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  /*background:linear-gradient(rgb(245, 241,226), rgb(123, 158, 163))*/
  /*background-clip:text;
  background: linear-gradient(to bottom, rgb(217,106,22) 0%, rgb(5, 5, 31) 100%);*/
  background: linear-gradient(to left, rgb(5, 5, 31) 0%, rgb(217, 106, 22) 100%);
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
.design-selection .designer-name{
  color: rgb(5, 5, 31);
  text-align: center;
}
.design-selection .design-name{
color: rgb(245, 241,226);
padding:10px;
display: list-item;
list-style-type: ' ★ ';
text-align: center;
}

.design-selection, .design-archives, .zen-resources{
  padding-left: 50px;
  padding-right: 50px;
text-align: center;
  
}
.design-selection{
  padding-top: 50px;
}
 
.zen-resources{
  padding-bottom: 50px;
}
.zen-resources ul li a, .design-archives ul li a{
  padding: 5px;
  color: rgb(245, 241,226);
  display: list-item;
  list-style-type: ' ★ ';
  text-align: center;
}

